opencv-python==4.6.0.66
Pillow==9.0.1
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.9.1
tensorflow-estimator==2.9.0
tensorflow-io-gcs-filesystem==0.26.0
torch==1.12.0+cu113
torchaudio==0.12.0+cu113
torchvision==0.13.0+cu113
yacs==0.1.8
tqdm
torch-poly-lr-decay @ git+https://github.com/cmpark0126/pytorch-polynomial-lr-decay.git@9251dd7190eccfb1cd08e1ebce52e03cff0cb58a
